* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	/* Use an image as a background and set it always staying at the center
	although the size of the web page may change. */
	background: url(../images/bg.jpg) no-repeat top center;
	line-height: 1.15;
	margin: 0;
}

header {
	height: 0.625rem;
	background: url(../images/head_bg.png) no-repeat;
	background-size: 100% 100%;
}

#headMenu {
	position: absolute;
	width: 10rem;
	line-height: 0.625rem;
}

#headMenu ul {
	display: flex;
	line-height: 0.625rem;
}

#headMenu ul li {
	flex: 1;
	line-height: 0.625rem;
	align-content: center;
}

.dropdown_content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 1rem;
	padding: 0.05rem;
	z-index: 2;
}

.dropdown_op {
	max-height: 0.3125rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.dropdown:hover .dropdown_content {
	display: block;
}

#title {
	font-size: 0.15rem;
	background-color: aquamarine;
	color: #F1F1F1;
	text-align: center;
	line-height: 0.4rem;
}

#time {
	position: absolute;
	top: 0;
	right: 0.375rem;
	line-height: 0.5rem;
	color: #F1F1F1;
}

.mainbox {
	display: flex;
	min-width: 1024px;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0.125rem 0.125rem 0;
	/* background-color: pink; */
}

.column {
	flex: 3;
}

.column:nth-child(2) {
	flex: 5;
	margin:0 0.125rem 0.1875rem;
}

.panel {
	height: 5rem;
	border: 1px solid rgba(25, 186, 139, 0.17);
	padding: 0 0.1875rem 0.5rem;
	margin-bottom: 0.1875rem;
	background-color: rgba(255, 255, 255, 0.04);
	position: relative;
}
.panel h2{
	height: 0.6rem;
	color: #fff;
	line-height: 0.6rem;
	text-align: center;
	font-size: 0.25rem;
	font-weight: 400;
}
.chart {
	height: 4.4rem;
	
}


.panel::before {
	content: "";
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	border-left: 2px solid #02a6b5;
	border-top: 2px solid #02a6b5;
	position: absolute;
}

.panel::after {
	content: "";
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
	border-right: 2px solid #02a6b5;
	border-top: 2px solid #02a6b5;
	position: absolute;
}
.panel_footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.panel_footer::before {
	content: "";
	bottom: 0;
	left: 0;
	width: 10px;
	height: 10px;
	border-left: 2px solid #02a6b5;
	border-bottom: 2px solid #02a6b5;
	position: absolute;
}

.panel_footer::after {
	content: "";
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	border-right: 2px solid #02a6b5;
	border-bottom: 2px solid #02a6b5;
	position: absolute;
}

.map {
	height: 4.1rem;
	border: 1px solid rgba(25, 186, 139, 0.17);
	padding: 0 0.1875rem 0.5rem;
	margin-bottom: 0.1875rem;
	background-color: #FFD700;
	position: relative;
}

#choose_city {
	position: relative;
	display: inline-block;
	color: brown;
	background-color: #A52A2A;
}
#choose_city:hover .dropdown_content {
	display: block;
	z-index: 1;
}

#source_description {
	height: 1rem;
	border: 1px solid rgba(25, 186, 139, 0.17);
	padding: 0 0.1875rem 0.5rem;
	margin-bottom: 0.1875rem;
	background-color: #FFD700;
	position: relative;
}