{% for group in groups %}
[{{group}}]
{%   for ip in groups[group] %}
{{ ip }}
{%   endfor %}

{% endfor %}

[masternode]
{{ groups['all'][0] }}

[othernodes]
{%   for ip in groups['all'] %}
{% if not loop.first -%}
{{ ip }}
{% endif %}
{%   endfor %}

[frontend]
{{ groups['all'][3] }}

[harvester]
{{ groups['all'][1] }}
