<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="../static/js/jquery-1.11.1.js"></script>
		<script src="../static/js/echarts.min.js"></script>
		<script src="../static/js/echarts-wordcloud.min.js"></script>
		<script src="../static/js/Australia.js"></script>
		<link href="../static/css/language.css" , rel="stylesheet" />
		<title>Language</title>
	</head>
	<body>
		<header>
			<div id="headMenu">
				<ul>
					<li style="color:whitesmoke">COMP90024</li>
					<li><a href="main.html" , style="color:whitesmoke">Home</a></li>
					<li>
						<div class="dropdown">
							<span style="color:whitesmoke">Topic</span>
							<div class="dropdown_content">
								<div class="dropdown_op"><a class="dropdown_link" , href="language.html" ,
										style="color:whitesmoke">Language</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="source.html" ,
										style="color:whitesmoke">Source</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="period.html" ,
										style="color:whitesmoke">Period</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="vaccine.html" ,
										style="color:whitesmoke">Vaccine</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="unemployment.html" ,
										style="color:whitesmoke">Unemployment</a></div>
							</div>
						</div>
					</li>
					<li><a href="hello.html" , style="color:whitesmoke">About us</a></li>
					<li><a href="hello.html" , style="color:whitesmoke">Contact</a></li>
				</ul>
			</div>
		</header>
		<div id="title">
			<h1>Language</h1>
		</div>
		<div id="time">我是时间</div>
		<div class="mainbox">
			<div class="column">
				<div class="panel l1">
					<h2>八个饼图</h2>
					<div id="language_l1" , class="chart"></div>
					<div class="panel_footer"></div>
				</div>
				<div class="panel l2">
					<h2>不同语言种类的score条形图</h2>
					<div id="language_l2" , class="chart"></div>
					<div class="panel_footer"></div>
				</div>
			</div>
			<div class="column">
				<div id="language_c1" , class="map">一张map</div>
			</div>
			<div class="column">
				<div class="panel r1">
					<h2>不同语言种类的aurin对比图??</h2>

					<div class="chart"></div>
					<div class="panel_footer"></div>
				</div>
				<div class="panel r2">
					<h2>不同城市的所说语言的词云图
					</h2>

					<div id="language_r2" , class="chart"></div>
					<div class="panel_footer"></div>
				</div>
			</div>
		</div>




		<script src="../static/js/flexible.js"></script>
		<script src="../static/js/language/language_l1.js"></script>
		<script src="../static/js/language/language_l2.js"></script>
		<script src="../static/js/language/language_c1.js"></script>
		<!-- 		<script src="../static/js/language/language_c2.js"></script> -->
		<script src="../static/js/language/language_r2.js"></script>
		<script src="../static/js/language/language_controller.js"></script>
	</body>
</html>
