<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="../static/js/jquery-1.11.1.js"></script>
		<script src="../static/js/echarts.min.js"></script>
		<script src="../static/js/echarts-wordcloud.min.js"></script>
		<script src="../static/js/Australia.js"></script>
		<link href="../static/css/language.css" , rel="stylesheet" />
		<title>Language</title>
	</head>
	<body>
		<header>
			<div id="headMenu">
				<ul>
					<li style="color:whitesmoke">COMP90024</li>
					<li><a href="main.html" , style="color:whitesmoke">Home</a></li>
					<li>
						<div class="dropdown">
							<span style="color:whitesmoke">Topic</span>
							<div class="dropdown_content">
								<div class="dropdown_op"><a class="dropdown_link" , href="vaccine.html" ,
										style="color:whitesmoke">Vaccine</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="source.html" ,
										style="color:whitesmoke">Source</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="period.html" ,
										style="color:whitesmoke">Time</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="unemployment.html" ,
										style="color:whitesmoke">Unemployment</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="language.html" ,
										style="color:whitesmoke">Language</a></div>
							</div>
						</div>
					</li>
					<li><a href="hello.html" , style="color:whitesmoke">About us</a></li>
				</ul>
			</div>
		</header>
		<div id="title">
			<h1>Language</h1>
		</div>
		<div class="mainbox">
			<div class="column">
				<div class="panel l1">
					<h2>Language Distribution for Eight Largest Cities</h2>
					<div id="language_l1" , class="chart"></div>
					<div class="panel_footer"></div>
				</div>
				<div class="panel l2">
					<h2>Polarity Analysis for Each Language</h2>
					<div id="language_l2" , class="chart"></div>
					<div class="panel_footer"></div>
				</div>
			</div>
			<div class="column">
				<div id="language_c1" , class="map">a map</div>
			</div>
			<div class="column">
				<div class="panel r1">
					<h2>Language in Aurin(Red) and Twitter(Blue)<div id="choose_city">
							<span style="color: aliceblue;">(Switch)</span>
							<div class="dropdown_content">
								<div class="dropdown_op"><a class="dropdown_link" , id="Sydney_wordcloud" ,
										href="javascript:;" , style="color:whitesmoke">Sydney</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , id="Melbourne_wordcloud" ,
										href="javascript:;" , style="color:whitesmoke">Melbourne</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , id="Brisbane_wordcloud" ,
										href="javascript:;" , style="color:whitesmoke">Brisbane</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , id="Adelaide_wordcloud" ,
										href="javascript:;" , style="color:whitesmoke">Adelaide</a></div>
							</div>
						</div>
					</h2>

					<div id="language_r1" , class="chart"></div>
					<div class="panel_footer"></div>
				</div>
				<div class="panel r2">
					<h2>Language Cloud
					</h2>

					<div id="language_r2" , class="chart"></div>
					<div class="panel_footer"></div>
				</div>
			</div>
		</div>




		<script src="../static/js/flexible.js"></script>
		<script src="../static/js/language/language_l1.js"></script>
		<script src="../static/js/language/language_l2.js"></script>
		<script src="../static/js/language/language_c1.js"></script>
		<script src="../static/js/language/language_r1.js"></script>
		<script src="../static/js/language/language_r2.js"></script>
		<script src="../static/js/language/language_controller.js"></script>
	</body>
</html>
