<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="../static/css/main.css" , rel="stylesheet" />
		<title>Main</title>
	</head>
	<body>
		<header>
			<div id="headMenu">
				<ul>
					<li style="color:whitesmoke">COMP90024</li>
					<li><a href="main.html" , style="color:whitesmoke">Home</a></li>
					<li>
						<div class="dropdown">
							<span style="color:whitesmoke">Topic</span>
							<div class="dropdown_content">
								<div class="dropdown_op"><a class="dropdown_link" , href="language.html" ,
										style="color:whitesmoke">Language</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="source.html" ,
										style="color:whitesmoke">Source</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="period.html" ,
										style="color:whitesmoke">Period</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="vaccine.html" ,
										style="color:whitesmoke">Vaccine</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="unemployment.html" ,
										style="color:whitesmoke">Unemployment</a></div>
							</div>
						</div>
					</li>
					<li><a href="hello.html" , style="color:whitesmoke">About us</a></li>
					<li><a href="hello.html" , style="color:whitesmoke">Contact</a></li>
				</ul>
			</div>
		</header>
		<div class="mainbox">
			<div class="column">
				<div class="map1"></div>
				<div class="map2"></div>
			</div>
			<div class="column">
				<div class="introduction">
					<h1>Project Title</h1>
					<p>Project Introduction</p>
				</div>
			</div>
		</div>

		<script src="../static/js/flexible.js"></script>
	</body>
</html>