<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="../static/js/jquery-1.11.1.js"></script>
		<script src="../static/js/echarts.min.js"></script>
		<script src="../static/js/echarts-wordcloud.min.js"></script>
		<script src="../static/js/Australia.js"></script>
		<link href="../static/css/period.css" , rel="stylesheet" />
		<title>Time</title>
	</head>
	<body>
		<header>
			<div id="headMenu">
				<ul>
					<li style="color:whitesmoke">COMP90024</li>
					<li><a href="main.html" , style="color:whitesmoke">Home</a></li>
					<li>
						<div class="dropdown">
							<span style="color:whitesmoke">Topic</span>
							<div class="dropdown_content">
								<div class="dropdown_op"><a class="dropdown_link" , href="vaccine.html" ,
										style="color:whitesmoke">Vaccine</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="source.html" ,
										style="color:whitesmoke">Source</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="period.html" ,
										style="color:whitesmoke">Time</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="unemployment.html" ,
										style="color:whitesmoke">Unemployment</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="language.html" ,
										style="color:whitesmoke">Language</a></div>
							</div>
						</div>
					</li>
					<li><a href="hello.html" , style="color:whitesmoke">About us</a></li>
				</ul>
			</div>
		</header>
		<div id="title">
			<h1>Time</h1>
		</div>
		<div class="mainbox">
			<div class="column">
				<div class="panel l1">
					<h2>Number of Tweets over 24 hours</h2>
					<div id="period_l1" , class="chart"></div>
					<div class="panel_footer"></div>
				</div>
				<div class="panel l2">
					<h2>Sentiment Score Time Map</h2>
					<div id="period_l2" , class="chart"></div>
					<div class="panel_footer"></div>
				</div>
			</div>
			<div class="column">
				<div id="period_c1", class="map">a map</div>
			</div>
			<div class="column">
				<div class="panel r1">
					<h2>Proportion of Tweets over 24 Hours</h2>

					<div id="period_r1", class="chart"></div>
					<div class="panel_footer"></div>
				</div>
				<div class="panel r2">
					<h2>Different Periods Tweet Polarity Cloud<div id="choose_city">
							<span>(Switch)</span>
							<div class="dropdown_content">
								<div class="dropdown_op"><a class="dropdown_link" , id="morning_wordcloud", href="javascript:;" ,
										style="color:whitesmoke">Morning</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , id="noon_wordcloud", href="javascript:;" ,
										style="color:whitesmoke">Afternoon</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , id="evening_wordcloud", href="javascript:;" ,
										style="color:whitesmoke">Evening</a></div>
							</div>
						</div>
					</h2>

					<div id="period_r2" , class="chart"></div>
					<div class="panel_footer"></div>
				</div>
			</div>
		</div>

		<script src="../static/js/flexible.js"></script>
		<script src="../static/js/period/period_l1.js"></script>
		<script src="../static/js/period/period_l2.js"></script>
		<script src="../static/js/period/period_c1.js"></script>
		<script src="../static/js/period/period_r1.js"></script>
		<script src="../static/js/period/period_r2.js"></script>
		<script src="../static/js/period/period_controller.js"></script>
	</body>
</html>

