<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="../static/js/jquery-1.11.1.js"></script>
		<script src="../static/js/echarts.min.js"></script>
		<script src="../static/js/echarts-wordcloud.min.js"></script>
		<script src="../static/js/Australia.js"></script>
		<link href="../static/css/source.css" , rel="stylesheet" />
		<title>Source</title>
	</head>
	<body>
		<header>
			<div id="headMenu">
				<ul>
					<li style="color:whitesmoke">COMP90024</li>
					<li><a href="main.html" , style="color:whitesmoke">Home</a></li>
					<li>
						<div class="dropdown">
							<span style="color:whitesmoke">Topic</span>
							<div class="dropdown_content">
								<div class="dropdown_op"><a class="dropdown_link" , href="language.html" ,
										style="color:whitesmoke">Language</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="source.html" ,
										style="color:whitesmoke">Source</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="period.html" ,
										style="color:whitesmoke">Period</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="vaccine.html" ,
										style="color:whitesmoke">Vaccine</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , href="unemployment.html" ,
										style="color:whitesmoke">Unemployment</a></div>
							</div>
						</div>
					</li>
					<li><a href="hello.html" , style="color:whitesmoke">About us</a></li>
					<li><a href="hello.html" , style="color:whitesmoke">Contact</a></li>
				</ul>
			</div>
		</header>
		<div id="title">
			<h1>Source</h1>
		</div>
		<div id="time">我是时间</div>
		<div class="mainbox">
			<div class="column">
				<div class="panel l1">
					<h2>各时间段不同Source地平均推特数量</h2>
					<div id="source_l1" , class="chart"></div>
					<div class="panel_footer"></div>
				</div>
				<div class="panel l2">
					<h2>不用Source对应的score图</h2>
					<div id="source_l2" , class="chart"></div>
					<div class="panel_footer"></div>
				</div>
			</div>
			<div class="column">
				<div id="source_description">
					<h2>描述一下这个页面</h2>
				</div>
				<div id="source_c1" , class="map">一张map</div>
				<div id="source_c2" , class="map">一张map</div>
			</div>
			<div class="column">
				<div class="panel r1">
					<h2>不同地区的不同source对应的推特数量比例</h2>

					<div id="source_r1" , class="chart"></div>
					<div class="panel_footer"></div>
				</div>
				<div class="panel r2">
					<h2>整个澳洲不同source的使用程度词云图<div id="choose_city">
							<span style="color: aliceblue;">(Switch)</span>
							<div class="dropdown_content">
								<div class="dropdown_op"><a class="dropdown_link" , id="Android_wordcloud" ,
										href="javascript:;",
										style="color:whitesmoke">Android</a></div>
								<div class="dropdown_op"><a class="dropdown_link" , id="IOS_wordcloud" ,
										href="javascript:;",
										style="color:whitesmoke">IOS</a></div>
							</div>
						</div>
					</h2>

					<div id="source_r2" , class="chart"></div>
					<div class="panel_footer"></div>
				</div>
			</div>
		</div>

		<script src="../static/js/flexible.js"></script>
		<script src="../static/js/source/source_l1.js"></script>
		<script src="../static/js/source/source_l2.js"></script>
		<script src="../static/js/source/source_c1.js"></script>
		<script src="../static/js/source/source_c2.js"></script>
		<script src="../static/js/source/source_r1.js"></script>
		<script src="../static/js/source/source_r2.js"></script>
		<script src="../static/js/source/source_controller.js"></script>
	</body>
</html>
